* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-container {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-left: 50px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.links {
    display: flex;
    gap: 30px;
}

.list1 {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.login {
    margin-right: 50px;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-right: 20px;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-login {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.new {
    background: red;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .menu,
    .login {
        display: none;
    }

    .burger {
        display: block;
    }

    .mobile-menu.active {
        display: block;
    }
}

.line{
    width: 800px;
    margin: auto;
}



.space{
    height: 15vh;
}

.hero {
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

.hero-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#typewriter {
    border-right: 2px solid black;
    padding-right: 5px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: black; }
    100% { border-color: transparent; }
}


.hero-title{
    font-size: 60px;
    font-family: Verdana, Geneva, sans-serif; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 700;
    max-width: 700px; 
}

.hero-text{
    font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400;
    max-width: 500px;
}


.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
}

.img-container{
    padding: 0px 0px 30px 30px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.35);
    margin-left: 50px;
}

.hero-img{
    width: 400px;
    border-radius: 0px 0px 0px 20px;

}


@media screen and (max-width: 768px) {
    .space{
        height: 0vh;
    }

    .hero-title{
        font-size: 2.5rem;
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .hero-text{
        text-align: center;
        margin: 0 auto;
        max-width: 400px;
        margin-bottom: 50px;
    }

    .img-container{

        margin: auto;
    }
    .hero-img{
        width: 350px;
        height: 300px;
    }
}


.hero2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.hero2-container {
    height: 40vh;
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero2-heading{

}

.content-heading{
    font-size: 70px;
    font-family: Verdana, Geneva, sans-serif; font-style: normal; font-variant: normal; font-weight: 700;
}

.content2 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-row-start: 3;
}

.content2-container{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.wrap-list{
    max-width: 250px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 30px 0px 30px 30px;
}
     