* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-container {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-left: 50px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.links {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.login {
    margin-right: 50px;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-right: 20px;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-login {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.new {
    background: red;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .menu,
    .login {
        display: none;
    }

    .burger {
        display: block;
    }

    .mobile-menu.active {
        display: block;
    }
}

hr{
    width: 800px;
    margin: auto;
}

.space{
    height: 15vh;
}

.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

.hero-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title{
    font-size: 60px;
    font-family: Verdana, Geneva, sans-serif; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 700; 
}

.hero-text{
    font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400;
    max-width: 500px;
}


.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
}

.img-container{
    padding: 0px 0px 30px 30px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.35);
    
}

.hero-img{
    width: 450px;
    border-radius: 0px 0px 0px 20px;

}


@media screen and (max-width: 768px) {
    .space{
        height: 0vh;
    }
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .hero-img{
        width: 200px;
    }
}